<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Course list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="shortcut icon" type="image/png" href="/course/images/icon/favicon.ico"> -->
    <link rel="stylesheet" href="../stylesheets/bootstrap4.0.0.min.css">
    <link rel="stylesheet" href="../for-course-page/css/font-awesome.min.css">
    <link rel="stylesheet" href="../for-course-page/css/styles.css">
    <link rel="stylesheet" href="../for-course-page/css/metisMenu.css">
    <link rel="stylesheet" href="../for-course-page/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../for-course-page/css/slicknav.min.css">
    <link rel="stylesheet" href="../for-course-page/css/themify-icons.css">
    <link rel="stylesheet" href="../for-course-page/css/typography.css">
</head>

<body class="body-bg">
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- main wrapper start -->
    <div class="horizontal-main-wrapper">
        <!-- main header area start -->
        <%- include('../../layouts/header') %>
            <!-- main header area end -->
            <!-- menu area start -->
            <%- include('../../layouts/menu') %>
                <!-- menu area end -->
                <!-- page title area end -->
                <div class="main-content-inner">
                    <div class="container">
                        <div class="row" style="margin: 25px 0px 0px 0px">
                            <div class="col-sm-3">
                                <!--left col-->

                                <div class="text-center">
                                    <img src="../images/avatar-course.jpg" class="avatar img-circle img-thumbnail" alt="course avatar">
                                </div>
                                </hr>
                                <br>
                                <ul class="list-group nav nav-tabs">
                                    <li class="list-group-item text-muted">Course:
                                        <%= course.name %>

                                    </li>
                                    <li class="list-group-item text-right">
                                        <span class="pull-left">
                                            <a href="/teacher/import-learner?courseID=<%= course._id %>">
                                                <strong>Import student</strong>
                                            </a>
                                        </span> </li>
                                    <li class="list-group-item text-right">
                                        <span class="pull-left">
                                            <a href="/teacher/add-learner?courseID=<%= course._id %>">
                                                <strong>Danh sách người học</strong>
                                            </a>
                                        </span> </li>
                                    <li class="list-group-item text-right">
                                        <span class="pull-left">
                                            <a data-toggle="tab" href="#information">
                                                <strong>Delete</strong>
                                            </a>

                                        </span>
                                    </li>
                                </ul>

                            </div>
                            <!--/col-3-->
                            <div class="col-sm-9">
                                <div class="tab-content" style="text-align: center">
